.gameContainer {
  margin-top: 2rem;
  min-height: 100vh;
}

.gameSettings {
  display: flex;
  list-style: none;
  justify-content: center;
}

.darkmode,
.darkmode body,
.darkmode option,
.darkmode select,
.darkmode input,
.darkmode button {
  background-color: rgb(71, 66, 74);
  color: white;
  border-color: rgb(18, 17, 17);
}

.headerButton {
  width: 90px;
  height: 50px;
  margin: 50px 0px 10px 10px;
  border-radius: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
}
